QMainWindow
{
    background-color: #0d1117;
    color: #161b22;
    padding: 5px;
    font-size:5em;
}

QDialog
{
    background-color: #161b22;
    max-width: 500px;
    min-height: 200px;

}

QLabel
{
    max-height:100px;
    max-width: 500px;
}

QComboBox, QDialog QLineEdit {
    color: #161b22
}

QButtonBox {
    font-size: 14px;
    font-family: Arial;
    color: #b7d1d9
}


QDialog QGroupBox, QDialog QLabel
{
    color: #b7d1d9
}

*
{
    font-size: 14px;
    font-family: Arial;
    color: #161b22
}